* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  touch-action: none;

  gap: 20px;

  color: white;

  background-color: #0f0f0f;
  font-family: "Roboto", sans-serif;
}

.video-cont {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100px;

  gap: 40px;
  font-size: 1.3em;

  .newVideo {
    a {
      text-decoration: none;
      color: white;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }
  /* font-family: "WDXL Lubrifont TC", sans-serif; */
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  gap: 30px;

  .video-card {
    position: relative;
    max-width: 27vw;

    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      max-width: 70%;
    }

    a {
      text-decoration: none;
      color: white;
      font-weight: 500;
      font-size: 1.3rem;
    }

    .infoCont {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 90%;

      margin: 0 auto;
    }

    .theMedia {
      width: 27vw;
      max-height: 15vw;

      border-radius: 23px !important;
    }

    .timer {
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 4px;

      opacity: 0.7;

      width: max-content;
      height: 30px;

      padding: 0px 10px;

      background-color: black;

      position: absolute;
      right: 10px;
      bottom: 40px;
    }

    .dateOfVideo {
      font-size: 0.9rem;
      font-weight: 300;
      color: #aaa;
    }
  }
}

@media screen and (max-width: 768px) {
  .video-card {
    max-width: 80vw !important;
    .theMedia {
      width: 80vw !important;
      min-height: 30vw;

      max-height: none !important;
    }

    h3 {
      max-width: 75% !important;
    }
    .timer {
      bottom: 60px !important;
    }

    .infoCont {
      font-size: 2rem;

      .dateOfVideo {
        font-size: 1.4rem;
      }
    }
  }
}
