* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 100vh;

  font-family: "Roboto", sans-serif;
  color: white;

  background-color: #0f0f0f;
}

.upload-cont {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #282828;

  border-radius: 30px;

  width: 600px;
  height: auto;

  padding-bottom: 60px;

  margin: 0 auto;

  h1 {
    margin-top: 40px;
    font-size: 3em;
  }

  #uploadForm {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 60%;

    margin-top: 30px;

    input,
    textarea {
      width: 100%;

      color: white;
      font-size: 2em;
      background-color: #282828;

      outline: none;

      border: 2px solid #1d1c1c;
      border-radius: 10px;
    }

    input {
      padding: 1vw;
    }

    input:focus,
    textarea:focus {
      border: 2px solid #065fd4;
    }

    input[type="file"] {
      border: none;
    }
  }
}

textarea::placeholder,
input::placeholder {
  font-size: 18px;
  opacity: 0.6;
}

textarea {
  resize: none;
  min-height: 80px;
  cursor: text;
}

button {
  padding: 1vw;
  cursor: pointer;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 1vw;
  background-color: #222;
  color: #eee;
  border: 1px solid #444;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: inherit;
  user-select: none;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-file-upload:hover {
  background-color: #333;
  border-color: #06f;
}

.custom-file-upload span {
  pointer-events: none;
  user-select: none;
  opacity: 0.7;
}

a.back-link {
  display: inline-block;

  width: 100%;
  padding: 1vw 2vw;
  background-color: #222;
  color: #eee;
  border: 1px solid #444;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1.3em;
  transition: background-color 0.3s, border-color 0.3s;
}

a.back-link:hover {
  background-color: #333;
  border-color: #06f;
  color: #fff;
}

@media (max-width: 500px) {
  .upload-cont {
    width: 100%;
    border-radius: 0px;

    h1 {
      font-size: 2.4em;
    }

    #uploadForm {
      width: 90%;
      input{
        padding: 4vw;
      }
      .custom-file-upload, button, .back-link{
        padding: 4vw;
      }
    }
  }
}
